{erl_opts, [no_debug_info]}.
{dialyzer, [
    {warnings, [
       %% Warn about undefined types and unknown functions
       unknown
    ]}
]}.

{xref_checks,[
    %% enable most checks, but avoid 'unused calls' which is often
    %% very verbose
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.

{profiles, [
    {test, [
        %% Avoid warnings when test suites use `-compile(export_all)`
        {erl_opts, [nowarn_export_all]}
    ]}
]}.
{deps, [
    {ecc_compact, "1.0.5"},
    {libp2p_crypto, ".*", {git, "https://github.com/helium/libp2p-crypto.git", {tag, "v1.4.1"}}}
]}.

{escript_incl_apps,
 [keys, ecc_compact, libp2p_crypto,
    base32,
    enacl,
    erl_base58,
    multiaddr,
    multihash,
    small_ints,
    crypto
 ]}.
{escript_main_app, keys}.
{escript_name, keys}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
